.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content__image {
    margin: 0 auto;
    padding: 20px 0 0;
    max-height: 300px;
}

.content__music {
    margin: 20px auto;
}

